@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


:root{
  --color-primary: #171d39;
  --color-secodary: #124868;
  --color-terciary: #20b5d9;
  --color-quaternary: #e2e2e2;
  --color-quinary: #f1f4f6;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
  margin: 0;
  padding: 0;
}


/* HEADER */

    /* HEADER 1º */
header{
  box-shadow: 0px 0px 20px -5px black;
  position: sticky;
  top: 0;
  z-index: 10;
}

.barra1{
  background-color: var(--color-primary);
  height: 30px;
  justify-content: space-between;
  position: relative;
}

.imglenguage{
  display: flex;
  justify-content: flex-end;
}

.imgbarra1{
  height: 30px;
  margin-right: 20px;
  width: 20px;
}

    /* HEADER 2º */

header nav{
  background-image: url(../img/backgroundRobot1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 15px;
  justify-content: space-between;
  position: flex;
}
nav .nav__link{
  color: var(--color-quaternary);
}

div .nav__logo{
  border-radius: 50%;
  height: 90px;
  margin-left: 25%;
}

nav ul{
  display: inline-flex;
  gap: 20px;
  margin-right: 3px;
  margin-top: 30px;
  padding-right: 1%;
}

nav ul li .bi-globe-central-south-asia{
  color: #a169d2de;
  margin-right: 2px;
}



/* MAIN */

h4 h5{
  color: var(--color-primary);
}

#userDesign-title{
  text-align: center;
  margin-top: 50px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

#cards-container{
  display: flex;
  flex-wrap: wrap;
  position: relative; 
  margin: 20px;
  z-index: 1; 
}

/* #cards-container{ 
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/background.svg); 
  background-color: var(--color-primary);
  border-radius: 20px;
  margin: 20px;
} */

.card{
  border: 2px solid rgb(246, 237, 237);
  border-radius: 10px;
  margin: 40px;
  padding: 10px;
  width: 200px;
}

.card img{
  width: 100%;
  height: auto;
}

.card-content{        
  margin-top: 10px ; 
  color: rgb(0, 0, 0);
}

#card-form-container{
  margin-top: 30px;
  margin: 20px;
}

#card-form-container h5{
  margin-top: 30px;
}

#card-form{
  display: inline-block;
}

form input{
  display: block;
  margin-bottom: 10px;
}

input:valid {
  border: 2.5px solid rgb(11, 162, 11);
}

input:invalid {
  border: 2.5px solid rgb(203, 12, 12)
} 

button{
  background-color: #00669f;
  box-shadow: 0 0 25px rgb(150, 203, 247);
  border: 0;
  color: var(--color-quinary);
  padding: 10px 0px ;
  text-transform: uppercase;
  height: 10%;
  width: 20%;
}

.buttons1{
  border: 0;
  display: flex;
  display: inline-block;
  justify-content: center;
  margin: 25px 10px;
  font-size: 15px
}

button:hover{
  box-shadow: 0 0 5px rgb(59, 160, 243), 0 0 10px rgb(59, 160, 243),
      0 0 20px rgb(59, 160, 243), 0 0 50px rgb(59, 160, 243);
}


/*FOOTER */

footer{
  background-image: url(../img/backgroundFooter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55px;
}

footer div h3{
  color: var(--color-quaternary);
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  margin-left:25px;
  margin-right: 10px;
}

footer div .bi{
  color: white;
  font-size: 17px;
  margin: 2px;
}
